template(name="footer")
  footer
    #sitemap
      .sitemap
        .sm-col.pdline1
          h4 speed-agility-quickness
          ul
            .col-1
              li.item
                a(href="#") plastic hurdle
              li.item
                a(href="#") adjustable hurdle
              li.item
                a(href="#") agility belt
              li.item
                a(href="#") catepult
            .col-2
              li.item
                a(href="#") speed resistor
              li.item
                a(href="#") lateral step trainer
              li.item
                a(href="#") agility
              li.item
                a(href="#") flexi field maker

        .sm-col.pdline2
          h4 fitness training
            ul
              .col-1
                li.item
                  a(href="#") resistance tube

        .sm-col.contacts
          h4 contact us
          ul
            li.item
              a(href="mailto:service@cy-sports.com") mail

    #copywhom
      .copywhom
        ul
          li.items &copy; all rights reserved 2014
          li.items chang yuan industrial inc.
          li.items site by zotu





