template(name="header")
  header
    #navbar
      h1
        a(href="{{pathFor 'index'}}") Chang Yuan
      nav
        ul
          li.item
            a(href="story.html") story
          li.item
            a(href="{{pathFor 'tagPage' _id='2t9DgrgroTFLKNeaH' }}") speed-agility-quickness
          li.item
            a(href="{{pathFor 'tagPage' _id='jqC3dpAEB4QtmwW9F' }}") fitness-training
          li.item
            a(href="story.html") others


