template(name="header")
  header
    #navbar
      h1
        a(href="{{pathFor 'index'}}") Chang Yuan
      nav
        ul
          li.item
            a(href="story.html") story
          each tags
            li.item
              a(href="{{pathFor 'tagPage' _id=this._id }}") {{name}}
          li.item
            a(href="story.html") others


