footer
	color Light
	#sitemap
		background Navy
		padding 40px 0 30px
		.sitemap
			container 1020px
			.pdline1, .pdline2
				span (7/20)
			.contacts
				span (6/20)
			.sm-col
				h4
					margin 0
					color White
					text-transform uppercase
					font-size 0.875em
					letter-spacing .16em
					line-height 2.57143em
				ul
					.col-1
						span (5/11)
					.col-2
						span (6/11)
				li
					display block
					text-transform capitalize
					font-family 'Cardo' serif
					font-size 0.8125em
					line-height 1.76923em
					letter-spacing .08em
					a
						color Light
						&:hover
							color White
	#copywhom
		background Dark
		.copywhom
			container 1020px
			text-transform uppercase
			text-align center
			font-size 0.75em
			letter-spacing .12em
			padding 10px 0
			li+li
				margin-left 50px