header
	background Navy
	color White
	#navbar
		container 1020px
		font-size 0.875em
		font-family 'Quicksand' sans-serif
		text-transform uppercase
		position relative
		h1
			span (1/4)
			padding 30px 0
			margin 0
			text-align center
			font-family 'Maven Pro' sans-serif
			font-size 2em
			letter-spacing .1em
			a
				color White
			
		nav
			span (3/4)
			text-align right
			letter-spacing .08em
			ul
				position absolute
				right 0
				bottom 20px
				li
					box-sizing border-box
					height 30px
					padding-left 40px
					a
						color White
						padding-bottom 10px
						&:hover
							border-bottom 2px solid White
					