#saqproduct
	.saqproduct
		border 4px double rgba(Tomato, .35)
		h1
			color Tomato
		button
			background Tomato
			&:hover
				background #e44a3c
		.pages
			i
				color Tomato
#ftproduct
	.ftproduct
		border 4px double rgba(Bohe, .35)
		h1
			color Bohe
		button
			background Bohe
			&:hover
				background #02997f
		.pages
			i
				color Bohe

#otproduct
	.otproduct
		border 4px double rgba(Eggplant, .35)
		h1
			color Eggplant
		button
			background Eggplant
			&:hover
				background #9f6baa
		.pages
			i
				color Eggplant

#saqproduct, #ftproduct, #otproduct
	background White
	color Gray
	padding 25px 0 40px
	.link
		container 960px
		letter-spacing .05em
		color rgba(Olive, .75)
		a
			color rgba(Olive, .75)
			&:hover
				color Olive	
	.saqproduct, .ftproduct, .otproduct
		container 960px
		padding 30px 0
		text-align center
		h1, p
			margin 0
		h1
			text-transform uppercase
			font-family "Quicksand" sans-serif
			line-height 2em
		p
			font-family "Cardo" serif
			font-size 1.125em
			line-height 1.5em
			margin-bottom 30px
			padding 0 120px
			&:first-letter
				text-transform uppercase
		img
			width 94%
			margin-bottom 10px
		button
			border none
			color White
			margin 30px auto
			padding 10px 50px
			text-transform uppercase
			font-family "Lato" sans-serif
			font-size 0.75em
			letter-spacing .2em
			transition 1s linear .25s
			-webkit-transition 1s linear .25s
		.pages
			i
				font-size 0.5em
			span
				text-transform uppercase
				font-size 0.75em
				line-height 2.33333em
				letter-spacing .18em
				padding 0 20px
				color Olive