#cystory
	background rgba(Eggplant, .85)
	color Gray
	padding 100px
	.cystory
		container 420px
		padding 20px
		background rgba(White, .8)
		.content
			outline 1px solid White
			padding 25px
			h1, p
				margin 0
			h1
				text-transform uppercase
				text-align center
				font-family "Quicksand" sans-serif
				line-height 2em
			p
				font-family "Cardo" serif
				font-size 1.125em
				line-height 1.5em
				margin-bottom 10px
				&:first-letter
					text-transform uppercase
				span
					color Eggplant

#cymission
	background Eggplant
	color White
	.quote
		container 720px
		padding 50px 0 30px
		border-bottom 1px solid rgba(White, .25)
		h1
			text-align center
			text-transform uppercase
			font-size 2em
			font-family "Quicksand" sans-serif
		blockquote
			font-family "Cardo" serif
			font-size 1em
			letter-spacing .05em
			margin 20px 0
			position relative
			&:first-letter
				text-transform uppercase
			cite
				display block
				text-align right
				margin 5px 20px 0 0
				&:before
					content "\2014 \2009"
	.service
		container 720px
		padding 40px 0 70px
		h1
			text-align center
			text-transform uppercase
			font-size 2em
			font-family "Quicksand" sans-serif
		.services
			span (1/5)
			height 144px
			text-align center
			.circle
				background White
				width 75%
				height 75%
				border-radius 54px
				margin 18px
				i
					color Eggplant
					line-height 2.25em
			.name
				font-family "Cardo" serif
				text-transform capitalize
				letter-spacing .05em

#client
	background White
	color Gray
	.client, .contact
		container 960px
		padding 40px 0
		h1
			text-align center
			text-transform uppercase
			font-size 2em
			font-family "Quicksand" sans-serif
	.client
		.clients
			span (1/4)
			box-sizing border-box
			border 1px solid Light
			text-align center
			height 240px
			margin -1px 0 0 -1px
			img
				margin 60px 0
	.contact
		padding-bottom 80px
		text-align center
		email
			background #9f6baa
			color White
			padding 10px 50px
			text-transform uppercase
			font-family "Lato" sans-serif
			font-size 0.75em
			letter-spacing .2em
			transition .5s linear .25s
			-webkit-transition .5s linear .25s
			&:hover
				background Eggplant